---
import { getCollection } from 'astro:content';
import PageLayout from '@/layouts/PageLayout.astro';
import { PostCard } from '@/components/PostCard';
import { type CollectionEntry } from 'astro:content';
type Props = CollectionEntry<'blog'>;
const posts = (await getCollection('blog'))
.sort( (a: Props, b: Props) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
).filter((post: Props) => !post.data.draft);
---
<PageLayout>
	<div class="chart-wrapper mx-auto flex max-w-6xl flex-col flex-wrap items-start justify-center gap-6 p-6 sm:flex-row sm:p-8">
		<div class="grid w-full gap-6 sm:grid-cols-2 lg:grid-cols-3">
			{
				posts.map((post) => (
						<a href={`/blog/${post.slug}/`}>
							<PostCard className="w-full" post={post} client:load/>
						</a>
				))
			}
		</div>
	</div>
</PageLayout>
