---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';

type Props = CollectionEntry<'blog'>['data'];

---
<main class="container py-6">
	<article class="prose prose-stone mx-auto dark:prose-invert">
			<slot />
	</article>
</main>
